.biom-main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}

.dropzone-file-uploader{
    /* position: relative;  */
    width: 200px; 
    height: 200px; 
    background-color: rgba(177, 174, 181, 0.5);
    border-width: 2px; 
    border-color: rgb(102, 102, 102); 
    border-style: dashed; 
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selection-main-container{
    width: 90%;
    display:flex;
    justify-content: space-around;
    margin-bottom: 25px;
    align-items: center;
}

.file-uploader-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 35%;
    padding-bottom: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.select-file-contianer{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 266px;
    height: auto;
    width: 35%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}