.community-selector-main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.community-selector-card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}