.wrapper{
   height:75.5vh;
   background-color:blue; 
   display:grid;
   grid-template-rows: 0.5fr 2fr 5fr 0.5fr;
   grid-gap: 1em;
   padding: 30px;
   /* Use grid auto rows if the rows are not explicitly sized in grid template row */
   /* grid-auto-rows: minmax(1000px, auto); */
}

.wrapper> div{
    /* background-color: #eee; */
    padding: 1em;
    border: 1px solid white;
}

.nested-search-parameters-container{
    display: grid;
    /* grid-template-columns */
}

.kingdom-pathogen-selection-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 1em;
}