.wizard-main-container{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 30px; 
    background: #d3365c;
    background: -moz-linear-gradient(left, #d3365c 0%, #b02660 46%, #b02660 46%, #821265 84%);
    background: -webkit-linear-gradient(left, #d3365c 0%,#b02660 46%,#b02660 46%,#821265 84%);
    background: linear-gradient(to right, #d3365c 0%,#b02660 46%,#b02660 46%,#821265 84%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3365c', endColorstr='#821265',GradientType=1 );
}

.top-text > h1:nth-child(1){
    margin-top: 0;
}

.breadcrumb-container{
    height: 15%;
    width: 100%;
    background-color: grey;
}

.main-content{
    display: flex;
    justify-content: center;
}


.wizard{
    /* min-height: 65vh; */
    width: 70vw;
    background-color: transparent;
}

.button-container{
    /* position: absolute; */
    /* bottom: 0; */
    height: 7vh;
    width: 100%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

