.taxonomy-search-modal{
    height: 65vh;
    min-width: 60vw;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    justify-items: center;
}

#customize-page-header{
    padding: 0;
}

.genome-selection-ui-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-height: 400px;
    width: 780px;
    /* width: 88%; */
    /* overflow: hidden; */
}

.taxonomic-grouping-container{
    background-color: blanchedalmond;
}

.taxonomic-grouping-container h4{
    background-color: white;
    border-radius: 15px;
    border: 3px solid purple;
}


.search-box-container{
    width: 100%;
    height:400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#genome-searchbar{
    width: 68%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    transition: 0.5s;
    outline: none;
    margin-bottom: 20px;
}

#genome-searchbar:focus{
    border: 3px solid #555;
}

.genome-selector-box{
    padding: 3px;
    min-height: 75%;
    max-height: 85%;
    width: 90%;
    display: grid;
    grid-template-rows: 0.5fr 3.5fr;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#genome-selector-box-element-container{
    display: grid;
    margin-top: 5px;
    /* overflow: scroll; */
    grid-template-columns: 3fr 1fr;
}

#genome-selector-box-element-container.clicked{
    background-color: rgba(43, 120, 228, 0.6);;
    border: 2px solid #2b78e4
}

#genome-selector-box-header{
    display: grid;
    grid-template-columns: 3fr 1fr;
    border-bottom: 1px solid black;
}

#genome-selector-box-header>p{
    margin:0
}

#genome-selector-box-body{
    overflow: scroll;
}

.genome-selector-box>div:hover{
    cursor: pointer;
}

.user-input-review-container{
    width: 88%;
    height: 5vh;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.search-selection-review{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.search-selection-review>p{
    width: auto;
}

.genome-selection-button-container{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.genome-search-list-item{
    margin-bottom:4px;
}

.genome-search-list-item > p{
    margin: 0
}

.styles_modal__gNwvD{
    width: 800px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-list-item-small-details{
    display: flex;
    flex-direction: column;
}